{
  "openapi": "3.1.0",
  "info": {
    "title": "Basecamp API",
    "description": "Complete API Documentation for Basecamp",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://3.basecampapi.com"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/attachments.json": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Create an attachment",
        "description": "Uploads a file and returns an attachable_sgid that can be used in other endpoints\n",
        "operationId": "createAttachment",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Name of the file being uploaded",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "Raw binary data of the file"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to upload attachments"
          },
          "413": {
            "description": "Payload Too Large - File exceeds maximum size"
          },
          "415": {
            "description": "Unsupported Media Type - File type not supported"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/chats.json": {
      "get": {
        "tags": [
          "Campfires"
        ],
        "summary": "Get Campfires",
        "description": "Returns a paginated list of all active Campfires visible to the current user",
        "operationId": "getCampfires",
        "responses": {
          "200": {
            "description": "List of campfires",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campfire"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access these resources"
          }
        }
      }
    },
    "/buckets/{bucketId}/chats/{chatId}.json": {
      "get": {
        "tags": [
          "Campfires"
        ],
        "summary": "Get a Campfire",
        "description": "Returns the Campfire with the specified ID",
        "operationId": "getCampfire",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the campfire"
          }
        ],
        "responses": {
          "200": {
            "description": "The campfire",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campfire"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this campfire"
          },
          "404": {
            "description": "Not Found - Specified campfire does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/chats/{chatId}/lines.json": {
      "get": {
        "tags": [
          "Campfires"
        ],
        "summary": "Get Campfire lines",
        "description": "Returns a paginated list of lines in the Campfire",
        "operationId": "getCampfireLines",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the campfire"
          }
        ],
        "responses": {
          "200": {
            "description": "List of campfire lines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampfireLine"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this campfire"
          },
          "404": {
            "description": "Not Found - Specified campfire does not exist"
          }
        }
      },
      "post": {
        "tags": [
          "Campfires"
        ],
        "summary": "Create a Campfire line",
        "description": "Creates a new line in the Campfire",
        "operationId": "createCampfireLine",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the campfire"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampfireLine"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created campfire line",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampfireLine"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to post to this campfire"
          },
          "404": {
            "description": "Not Found - Specified campfire does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/chats/{chatId}/lines/{lineId}.json": {
      "get": {
        "tags": [
          "Campfires"
        ],
        "summary": "Get a Campfire line",
        "description": "Returns a specific line in the Campfire",
        "operationId": "getCampfireLine",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the campfire"
          },
          {
            "name": "lineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the campfire line"
          }
        ],
        "responses": {
          "200": {
            "description": "The campfire line",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampfireLine"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this campfire line"
          },
          "404": {
            "description": "Not Found - Specified campfire line does not exist"
          }
        }
      },
      "delete": {
        "tags": [
          "Campfires"
        ],
        "summary": "Delete a Campfire line",
        "description": "Deletes a specific line from the Campfire",
        "operationId": "deleteCampfireLine",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the campfire"
          },
          {
            "name": "lineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the campfire line"
          }
        ],
        "responses": {
          "204": {
            "description": "The campfire line was successfully deleted"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to delete this campfire line"
          },
          "404": {
            "description": "Not Found - Specified campfire line does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/{cardTableId}.json": {
      "get": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Get a card table",
        "description": "Returns a specific card table",
        "operationId": "getCardTable",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "cardTableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the card table"
          }
        ],
        "responses": {
          "200": {
            "description": "Card table details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTable"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this card table"
          },
          "404": {
            "description": "Not Found - Specified card table does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/columns/{columnId}/cards.json": {
      "get": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Get cards in a column",
        "description": "Returns a paginated list of cards in a specific column",
        "operationId": "getCardsInColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the column"
          }
        ],
        "responses": {
          "200": {
            "description": "List of cards in the column",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this card"
          },
          "404": {
            "description": "Not Found - Specified card does not exist"
          }
        }
      },
      "post": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Create a card",
        "description": "Creates a new card in a specific column",
        "operationId": "createCard",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the column"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "due_on": {
                    "type": "string",
                    "format": "date"
                  },
                  "notify": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Card created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this card"
          },
          "404": {
            "description": "Not Found - Specified card does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/cards/{cardId}.json": {
      "get": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Get a card",
        "description": "Returns details of a specific card",
        "operationId": "getCard",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the card"
          }
        ],
        "responses": {
          "200": {
            "description": "Card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this card"
          },
          "404": {
            "description": "Not Found - Specified card does not exist"
          }
        }
      },
      "put": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Update a card",
        "description": "Updates a specific card",
        "operationId": "updateCard",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the card"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "due_on": {
                    "type": "string",
                    "format": "date"
                  },
                  "assignee_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this card"
          },
          "404": {
            "description": "Not Found - Specified card does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/cards/{cardId}/moves.json": {
      "post": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Move a card",
        "description": "Moves a card to a different column",
        "operationId": "moveCard",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the card"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "column_id"
                ],
                "properties": {
                  "column_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Card moved successfully"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this card"
          },
          "404": {
            "description": "Not Found - Specified card does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/columns/{columnId}.json": {
      "get": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Get a column",
        "description": "Returns a specific column in a card table",
        "operationId": "getColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the column"
          }
        ],
        "responses": {
          "200": {
            "description": "The column details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this column"
          },
          "404": {
            "description": "Not Found - Specified column does not exist"
          }
        }
      },
      "put": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Update a column",
        "description": "Updates a specific column in a card table",
        "operationId": "updateColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the column"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated column",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to update this column"
          },
          "404": {
            "description": "Not Found - Specified column does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/{cardTableId}/columns.json": {
      "post": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Create a column",
        "description": "Creates a new column in a card table",
        "operationId": "createColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "cardTableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the card table"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created column",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to create columns"
          },
          "404": {
            "description": "Not Found - Specified card table does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/{cardTableId}/moves.json": {
      "post": {
        "tags": [
          "Card Tables"
        ],
        "summary": "Move a column",
        "description": "Moves a column to a new position in the card table",
        "operationId": "moveColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "cardTableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the card table"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source_id",
                  "target_id"
                ],
                "properties": {
                  "source_id": {
                    "type": "integer"
                  },
                  "target_id": {
                    "type": "integer"
                  },
                  "position": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Column moved successfully"
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to move columns"
          },
          "404": {
            "description": "Not Found - Specified card table or column does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/chats/{chatId}/integrations.json": {
      "get": {
        "tags": [
          "Chatbots"
        ],
        "operationId": "getChatbots",
        "summary": "Get all chatbots",
        "description": "Returns all the chatbots from the account with the line URL for the campfire on the specified basecamp.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chat/campfire"
          }
        ],
        "responses": {
          "200": {
            "description": "List of chatbots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chatbot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - resource doesn't exist"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "Chatbots"
        ],
        "operationId": "createChatbot",
        "summary": "Create a chatbot",
        "description": "Creates a chatbot on the account and returns the new chatbot with the lines URL from the specified project.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chat/campfire"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatbot"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created chatbot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chatbot"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "422": {
            "description": "Unprocessable entity - validation failed"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/buckets/{bucketId}/chats/{chatId}/integrations/{integrationId}.json": {
      "get": {
        "tags": [
          "Chatbots"
        ],
        "operationId": "getChatbot",
        "summary": "Get a chatbot",
        "description": "Returns the chatbot with the specified ID with the line URL from the specified project.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chat/campfire"
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chatbot/integration"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested chatbot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chatbot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - resource doesn't exist"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Chatbots"
        ],
        "operationId": "updateChatbot",
        "summary": "Update a chatbot",
        "description": "Allows changing the service name and commandURL of the specified chatbot in the specified project.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chat/campfire"
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chatbot/integration"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatbot"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated chatbot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chatbot"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - chatbot doesn't exist"
          },
          "422": {
            "description": "Unprocessable entity - validation failed"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Chatbots"
        ],
        "operationId": "deleteChatbot",
        "summary": "Delete a chatbot",
        "description": "Deletes the specified chatbot across the account.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chat/campfire"
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chatbot/integration"
          }
        ],
        "responses": {
          "204": {
            "description": "No content - successful deletion"
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - chatbot doesn't exist"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/integrations/{chatbotKey}/buckets/{bucketId}/chats/{chatId}/lines.json": {
      "post": {
        "tags": [
          "Chatbots"
        ],
        "operationId": "createChatbotLine",
        "summary": "Create a chatbot line",
        "description": "Creates a line in the specified Campfire using the chatbot key.\n",
        "parameters": [
          {
            "name": "chatbotKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key for the chatbot"
          },
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the chat/campfire"
          },
          {
            "name": "content_param",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Modifies the name of the required 'content' param to support webhooks from a third-party"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatbotLine"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created line"
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - resource doesn't exist"
          },
          "422": {
            "description": "Unprocessable entity - validation failed"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/buckets/{bucketId}/client/approvals.json": {
      "get": {
        "tags": [
          "Client Approvals"
        ],
        "summary": "Get client approvals",
        "description": "Returns a paginated list of client approvals in the project",
        "operationId": "getClientApprovals",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of client approvals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientApproval"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access these resources"
          },
          "404": {
            "description": "Not Found - Specified project does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/client/approvals/{approvalId}.json": {
      "get": {
        "tags": [
          "Client Approvals"
        ],
        "summary": "Get a client approval",
        "description": "Returns a specific client approval",
        "operationId": "getClientApproval",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "approvalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the client approval"
          }
        ],
        "responses": {
          "200": {
            "description": "The client approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientApproval"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this client approval"
          },
          "404": {
            "description": "Not Found - Specified client approval does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/client/correspondences.json": {
      "get": {
        "tags": [
          "Client Correspondences"
        ],
        "operationId": "getClientCorrespondences",
        "summary": "Get client correspondences",
        "description": "Returns a paginated list of client correspondences in the specified project.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of client correspondences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientCorrespondence"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - resource doesn't exist"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        }
      }
    },
    "/buckets/{bucketId}/client/correspondences/{correspondenceId}.json": {
      "get": {
        "tags": [
          "Client Correspondences"
        ],
        "operationId": "getClientCorrespondence",
        "summary": "Get a client correspondence",
        "description": "Returns the client correspondence with the specified ID in the specified project.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "correspondenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the client correspondence"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested client correspondence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientCorrespondence"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - resource doesn't exist"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        }
      }
    },
    "/buckets/{bucketId}/client/recordings/{recordingId}/replies.json": {
      "get": {
        "tags": [
          "Client Replies"
        ],
        "operationId": "getClientReplies",
        "summary": "Get client replies",
        "description": "Returns a paginated list of client replies for the specified recording in the specified project.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the recording (client correspondence or client approval)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of client replies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientReply"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - resource doesn't exist"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        }
      }
    },
    "/buckets/{bucketId}/client/recordings/{recordingId}/replies/{replyId}.json": {
      "get": {
        "tags": [
          "Client Replies"
        ],
        "operationId": "getClientReply",
        "summary": "Get a client reply",
        "description": "Returns the client reply with the specified ID for the specified recording in the specified project.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the recording (client correspondence or client approval)"
          },
          {
            "name": "replyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the client reply"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested client reply",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientReply"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - resource doesn't exist"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        }
      }
    },
    "/buckets/{bucketId}/recordings/{recordingId}/client_visibility.json": {
      "put": {
        "tags": [
          "Client Visibility"
        ],
        "operationId": "toggleClientVisibility",
        "summary": "Toggle client visibility",
        "description": "Changes the client visibility for the specified recording in the specified project.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the recording"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientVisibility"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The recording with updated visibility settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - recording doesn't control its client visibility"
          },
          "404": {
            "description": "Not found - recording doesn't exist"
          },
          "422": {
            "description": "Unprocessable entity - validation failed"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        }
      }
    },
    "/buckets/{bucketId}/recordings/{recordingId}/comments.json": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get comments",
        "description": "Returns a list of comments for the specified recording",
        "operationId": "getComments",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the recording"
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access these resources"
          },
          "404": {
            "description": "Not Found - Specified recording does not exist"
          }
        }
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create a comment",
        "description": "Creates a new comment on the specified recording",
        "operationId": "createComment",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the recording"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "URL to the created comment",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to create comments"
          },
          "404": {
            "description": "Not Found - Specified recording does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/comments/{commentId}.json": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get a comment",
        "description": "Returns details for a specific comment",
        "operationId": "getComment",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the comment"
          }
        ],
        "responses": {
          "200": {
            "description": "Comment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this comment"
          },
          "404": {
            "description": "Not Found - Specified comment does not exist"
          }
        }
      },
      "put": {
        "tags": [
          "Comments"
        ],
        "summary": "Update a comment",
        "description": "Updates a specific comment",
        "operationId": "updateComment",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the comment"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "URL to the comment",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to update this comment"
          },
          "404": {
            "description": "Not Found - Specified comment does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/vaults/{vaultId}/documents.json": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get documents",
        "description": "Returns a list of documents in the specified vault",
        "operationId": "getDocuments",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the vault"
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access these resources"
          },
          "404": {
            "description": "Not Found - Specified vault does not exist"
          }
        }
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Create a document",
        "description": "Creates a new document in the specified vault",
        "operationId": "createDocument",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the vault"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocument"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to create documents"
          },
          "404": {
            "description": "Not Found - Specified vault does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/documents/{documentId}.json": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get a document",
        "description": "Returns details for a specific document",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the document"
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this document"
          },
          "404": {
            "description": "Not Found - Specified document does not exist"
          }
        }
      },
      "put": {
        "tags": [
          "Documents"
        ],
        "summary": "Update a document",
        "description": "Updates a specific document",
        "operationId": "updateDocument",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the document"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to update this document"
          },
          "404": {
            "description": "Not Found - Specified document does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/recordings/{recordingId}/events.json": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "getEvents",
        "summary": "Get events",
        "description": "Returns a paginated list of events for the specified recording in the specified project.\n",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the recording"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - resource doesn't exist"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        }
      }
    },
    "/buckets/{bucketId}/inboxes/{inboxId}/forwards.json": {
      "get": {
        "tags": [
          "Forwards"
        ],
        "summary": "Get forwards",
        "description": "Returns a paginated list of active forwards in the specified inbox",
        "operationId": "getForwards",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "inboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the inbox"
          }
        ],
        "responses": {
          "200": {
            "description": "List of forwards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Forward"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access these resources"
          },
          "404": {
            "description": "Not Found - Specified inbox does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/inbox_forwards/{forwardId}.json": {
      "get": {
        "tags": [
          "Forwards"
        ],
        "summary": "Get a forward",
        "description": "Returns a specific forward",
        "operationId": "getForward",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "forwardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the forward"
          }
        ],
        "responses": {
          "200": {
            "description": "The forward",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forward"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this forward"
          },
          "404": {
            "description": "Not Found - Specified forward does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/inbox_forwards/{forwardId}/replies.json": {
      "get": {
        "tags": [
          "Inbox Replies"
        ],
        "summary": "Get inbox replies",
        "description": "Returns a paginated list of inbox replies for a forward",
        "operationId": "getInboxReplies",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "forwardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the forward"
          }
        ],
        "responses": {
          "200": {
            "description": "List of inbox replies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InboxReply"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access these resources"
          },
          "404": {
            "description": "Not Found - Specified forward does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/inbox_forwards/{forwardId}/replies/{replyId}.json": {
      "get": {
        "tags": [
          "Inbox Replies"
        ],
        "summary": "Get an inbox reply",
        "description": "Returns a specific inbox reply",
        "operationId": "getInboxReply",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "forwardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the forward"
          },
          {
            "name": "replyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the reply"
          }
        ],
        "responses": {
          "200": {
            "description": "The inbox reply",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxReply"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this inbox reply"
          },
          "404": {
            "description": "Not Found - Specified inbox reply does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/inboxes/{inboxId}.json": {
      "get": {
        "tags": [
          "Inboxes"
        ],
        "summary": "Get inbox",
        "description": "Returns the inbox for the specified project",
        "operationId": "getInbox",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "inboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the inbox"
          }
        ],
        "responses": {
          "200": {
            "description": "The inbox",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this inbox"
          },
          "404": {
            "description": "Not Found - Specified inbox does not exist"
          }
        }
      }
    },
    "/lineup/markers.json": {
      "post": {
        "tags": [
          "Lineup Markers"
        ],
        "operationId": "createLineupMarker",
        "summary": "Create a marker",
        "description": "Creates an account-wide marker that shows up in the Lineup.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLineupMarker"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created - empty response body"
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "422": {
            "description": "Unprocessable entity - validation failed"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/lineup/markers/{markerId}.json": {
      "put": {
        "tags": [
          "Lineup Markers"
        ],
        "operationId": "updateLineupMarker",
        "summary": "Update a marker",
        "description": "Changes the name and/or date of the specified marker.\n",
        "parameters": [
          {
            "name": "markerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the marker"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLineupMarker"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - empty response body"
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - marker doesn't exist"
          },
          "422": {
            "description": "Unprocessable entity - validation failed"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Lineup Markers"
        ],
        "operationId": "deleteLineupMarker",
        "summary": "Delete a marker",
        "description": "Permanently destroys the specified marker immediately.\n",
        "parameters": [
          {
            "name": "markerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the marker"
          }
        ],
        "responses": {
          "204": {
            "description": "No content - successful deletion"
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - marker doesn't exist"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/buckets/{bucketId}/message_boards/{messageBoardId}.json": {
      "get": {
        "tags": [
          "Message Boards"
        ],
        "summary": "Get message board",
        "description": "Returns the message board for the specified project",
        "operationId": "getMessageBoard",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "messageBoardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the message board"
          }
        ],
        "responses": {
          "200": {
            "description": "The message board",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageBoard"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this message board"
          },
          "404": {
            "description": "Not Found - Specified message board does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/categories.json": {
      "get": {
        "tags": [
          "Message Types"
        ],
        "summary": "Get message types",
        "description": "Returns all message types in the specified project",
        "operationId": "getMessageTypes",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of message types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access these resources"
          },
          "404": {
            "description": "Not Found - Specified project does not exist"
          }
        }
      },
      "post": {
        "tags": [
          "Message Types"
        ],
        "summary": "Create a message type",
        "description": "Creates a new message type in the specified project",
        "operationId": "createMessageType",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageType"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created message type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageType"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to create message types"
          },
          "404": {
            "description": "Not Found - Specified project does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/categories/{categoryId}.json": {
      "get": {
        "tags": [
          "Message Types"
        ],
        "summary": "Get a message type",
        "description": "Returns a specific message type",
        "operationId": "getMessageType",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the message type (category)"
          }
        ],
        "responses": {
          "200": {
            "description": "The message type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageType"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this message type"
          },
          "404": {
            "description": "Not Found - Specified message type does not exist"
          }
        }
      },
      "put": {
        "tags": [
          "Message Types"
        ],
        "summary": "Update a message type",
        "description": "Updates a specific message type",
        "operationId": "updateMessageType",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the message type (category)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMessageType"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated message type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageType"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to update this message type"
          },
          "404": {
            "description": "Not Found - Specified message type does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      },
      "delete": {
        "tags": [
          "Message Types"
        ],
        "summary": "Destroy a message type",
        "description": "Deletes a specific message type",
        "operationId": "destroyMessageType",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the message type (category)"
          }
        ],
        "responses": {
          "204": {
            "description": "Message type successfully deleted"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to delete this message type"
          },
          "404": {
            "description": "Not Found - Specified message type does not exist"
          }
        }
      }
    },
    "/buckets/{bucketId}/message_boards/{messageBoardId}/messages.json": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get messages",
        "description": "Returns a list of messages in the specified message board",
        "operationId": "getMessages",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "messageBoardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the message board"
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access these resources"
          },
          "404": {
            "description": "Not Found - Specified message board does not exist"
          }
        }
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Create a message",
        "description": "Creates a new message in the specified message board",
        "operationId": "createMessage",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "messageBoardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the message board"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to create messages"
          },
          "404": {
            "description": "Not Found - Specified message board does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/buckets/{bucketId}/messages/{messageId}.json": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a message",
        "description": "Returns details for a specific message",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the message"
          }
        ],
        "responses": {
          "200": {
            "description": "Message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this message"
          },
          "404": {
            "description": "Not Found - Specified message does not exist"
          }
        }
      },
      "put": {
        "tags": [
          "Messages"
        ],
        "summary": "Update a message",
        "description": "Updates a specific message",
        "operationId": "updateMessage",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the project (bucket)"
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the message"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to update this message"
          },
          "404": {
            "description": "Not Found - Specified message does not exist"
          },
          "422": {
            "description": "Unprocessable entity (validation failed)"
          }
        }
      }
    },
    "/people.json": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Get people",
        "description": "Returns a list of all people visible to the current user",
        "operationId": "getPeople",
        "responses": {
          "200": {
            "description": "List of people",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this resource"
          }
        }
      }
    },
    "/people/{personId}.json": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Get a person",
        "description": "Returns the profile information for a specific person",
        "operationId": "getPerson",
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this resource"
          },
          "404": {
            "description": "Not Found - Specified person does not exist"
          }
        }
      }
    },
    "/my/profile.json": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Get my profile",
        "description": "Returns the profile of the current user",
        "operationId": "getMyProfile",
        "responses": {
          "200": {
            "description": "Current user's profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          }
        }
      }
    },
    "/projects/{projectId}/people.json": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Get people on a project",
        "description": "Returns a list of people with access to a specific project",
        "operationId": "getProjectPeople",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of people on the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Not permitted to access this project"
          },
          "404": {
            "description": "Not Found - Specified project does not exist"
          }
        }
      }
    },
    "/projects/{projectId}/people/users.json": {
      "put": {
        "tags": [
          "People"
        ],
        "summary": "Manage people on a project",
        "description": "Grant and revoke people's access to a project",
        "operationId": "manageProjectUsers",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
[...]
