openapi: 3.1.0
info:
  title: Basecamp API
  description: Complete API Documentation for Basecamp
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://3.basecampapi.com

# Path references
paths:
  # Attachments
  # /attachments.json:
  #   $ref: './paths/attachments.yaml#/attachments'

  # Campfires
  /chats.json:
    $ref: './paths/campfires.yaml#/chats'
  /buckets/{bucketId}/chats/{chatId}.json:
    $ref: './paths/campfires.yaml#/chat'
  /buckets/{bucketId}/chats/{chatId}/lines.json:
    $ref: './paths/campfires.yaml#/chat_lines'
  /buckets/{bucketId}/chats/{chatId}/lines/{lineId}.json:
    $ref: './paths/campfires.yaml#/chat_line'

  # Card Tables
  /buckets/{bucketId}/card_tables/{cardTableId}.json:
    $ref: './paths/card_tables.yaml#/card_table'
  /buckets/{bucketId}/card_tables/columns/{columnId}/cards.json:
    $ref: './paths/card_table_cards.yaml#/card_table_cards'
  /buckets/{bucketId}/card_tables/cards/{cardId}.json:
    $ref: './paths/card_table_cards.yaml#/card_table_card'
  /buckets/{bucketId}/card_tables/cards/{cardId}/moves.json:
    $ref: './paths/card_table_cards.yaml#/card_table_card_moves'
  /buckets/{bucketId}/card_tables/columns/{columnId}.json:
    $ref: './paths/card_table_columns.yaml#/card_table_column'
  /buckets/{bucketId}/card_tables/{cardTableId}/columns.json:
    $ref: './paths/card_table_columns.yaml#/card_table_columns'
  /buckets/{bucketId}/card_tables/{cardTableId}/moves.json:
    $ref: './paths/card_table_columns.yaml#/card_table_column_moves'

  # Chatbots
  /buckets/{bucketId}/chats/{chatId}/integrations.json:
    get:
      $ref: './paths/chatbots.yaml#/get_chatbots'
    post:
      $ref: './paths/chatbots.yaml#/create_chatbot'
  /buckets/{bucketId}/chats/{chatId}/integrations/{integrationId}.json:
    get:
      $ref: './paths/chatbots.yaml#/get_chatbot'
    put:
      $ref: './paths/chatbots.yaml#/update_chatbot'
    delete:
      $ref: './paths/chatbots.yaml#/delete_chatbot'
  /integrations/{chatbotKey}/buckets/{bucketId}/chats/{chatId}/lines.json:
    post:
      $ref: './paths/chatbots.yaml#/create_line'

  # Client Approvals
  /buckets/{bucketId}/client/approvals.json:
    $ref: './paths/client_approvals.yaml#/client_approvals'
  /buckets/{bucketId}/client/approvals/{approvalId}.json:
    $ref: './paths/client_approvals.yaml#/client_approval'

  # Client Correspondences
  /buckets/{bucketId}/client/correspondences.json:
    $ref: './paths/client_correspondences.yaml#/client_correspondences'
  /buckets/{bucketId}/client/correspondences/{correspondenceId}.json:
    $ref: './paths/client_correspondences.yaml#/client_correspondence'

  # Client Replies
  /buckets/{bucketId}/client/recordings/{recordingId}/replies.json:
    $ref: './paths/client_replies.yaml#/client_replies'
  /buckets/{bucketId}/client/recordings/{recordingId}/replies/{replyId}.json:
    $ref: './paths/client_replies.yaml#/client_reply'

  # Client Visibility
  /buckets/{bucketId}/recordings/{recordingId}/client_visibility.json:
    $ref: './paths/client_visibility.yaml#/client_visibility'

  # Comments
  /buckets/{bucketId}/recordings/{recordingId}/comments.json:
    $ref: './paths/comments.yaml#/comments'
  /buckets/{bucketId}/comments/{commentId}.json:
    $ref: './paths/comments.yaml#/comment'

  # Documents
  /buckets/{bucketId}/vaults/{vaultId}/documents.json:
    $ref: './paths/documents.yaml#/documents'
  /buckets/{bucketId}/documents/{documentId}.json:
    $ref: './paths/documents.yaml#/document'

  # Events
  /buckets/{bucketId}/recordings/{recordingId}/events.json:
    $ref: './paths/events.yaml#/events'

  # Forwards
  /buckets/{bucketId}/inboxes/{inboxId}/forwards.json:
    $ref: './paths/forwards.yaml#/forwards'
  /buckets/{bucketId}/inbox_forwards/{forwardId}.json:
    $ref: './paths/forwards.yaml#/forward'

  # Inbox Replies
  /buckets/{bucketId}/inbox_forwards/{forwardId}/replies.json:
    $ref: './paths/inbox_replies.yaml#/inbox_replies'
  /buckets/{bucketId}/inbox_forwards/{forwardId}/replies/{replyId}.json:
    $ref: './paths/inbox_replies.yaml#/inbox_reply'

  # Inboxes
  /buckets/{bucketId}/inboxes/{inboxId}.json:
    $ref: './paths/inboxes.yaml#/inbox'

  # Lineup Markers
  /lineup/markers.json:
    post:
      $ref: './paths/lineup_markers.yaml#/create_marker'
  /lineup/markers/{markerId}.json:
    put:
      $ref: './paths/lineup_markers.yaml#/update_marker'
    delete:
      $ref: './paths/lineup_markers.yaml#/delete_marker'

  # Message Boards
  /buckets/{bucketId}/message_boards/{messageBoardId}.json:
    $ref: './paths/message_boards.yaml#/message_board'

  # Message Types
  /buckets/{bucketId}/categories.json:
    $ref: './paths/message_types.yaml#/message_types'
  /buckets/{bucketId}/categories/{categoryId}.json:
    $ref: './paths/message_types.yaml#/message_type'

  # Messages
  /buckets/{bucketId}/message_boards/{messageBoardId}/messages.json:
    $ref: './paths/messages.yaml#/messages'
  /buckets/{bucketId}/messages/{messageId}.json:
    $ref: './paths/messages.yaml#/message'

  # People
  /people.json:
    $ref: './paths/people.yaml#/people'
  /people/{personId}.json:
    $ref: './paths/people.yaml#/person'
  /my/profile.json:
    $ref: './paths/people.yaml#/my_profile'
  /projects/{projectId}/people.json:
    $ref: './paths/people.yaml#/project_people'
  /projects/{projectId}/people/users.json:
    $ref: './paths/people.yaml#/project_users'
  /my/company/people.json:
    $ref: './paths/people.yaml#/company_people'

  # Projects
  /projects.json:
    $ref: './paths/projects.yaml#/projects'
  /projects/{projectId}.json:
    $ref: './paths/projects.yaml#/project'
  /projects/recordings.json:
    $ref: './paths/recordings.yaml#/recordings'

  # Question Answers
  /buckets/{bucketId}/questions/{questionId}/answers.json:
    $ref: './paths/question_answers.yaml#/question_answers'
  /buckets/{bucketId}/question_answers/{answerId}.json:
    $ref: './paths/question_answers.yaml#/question_answer'

  # Questionnaires
  /buckets/{bucketId}/questionnaires/{questionnaireId}.json:
    $ref: './paths/questionnaires.yaml#/questionnaire'

  # Questions
  /buckets/{bucketId}/questionnaires/{questionnaireId}/questions.json:
    $ref: './paths/questions.yaml#/questions'
  /buckets/{bucketId}/questions/{questionId}.json:
    $ref: './paths/questions.yaml#/question'

  # Recordings
  /buckets/{bucketId}/recordings/{recordingId}/status/trashed.json:
    $ref: './paths/recordings.yaml#/trash_recording'
  /buckets/{bucketId}/recordings/{recordingId}/status/archived.json:
    $ref: './paths/recordings.yaml#/archive_recording'
  /buckets/{bucketId}/recordings/{recordingId}/status/active.json:
    $ref: './paths/recordings.yaml#/unarchive_recording'

  # Schedules
  /buckets/{bucketId}/schedules/{scheduleId}.json:
    $ref: './paths/schedules.yaml#/schedule'

  # Schedule Entries
  /buckets/{bucketId}/schedules/{scheduleId}/entries.json:
    $ref: './paths/schedule_entries.yaml#/schedule_entries'
  /buckets/{bucketId}/schedule_entries/{entryId}.json:
    $ref: './paths/schedule_entries.yaml#/schedule_entry'
  /buckets/{bucketId}/schedule_entries/{entryId}/occurrences/{date}.json:
    $ref: './paths/schedule_entries.yaml#/schedule_entry_occurrence'

  # Templates
  /templates.json:
    $ref: './paths/templates.yaml#/templates'
  /templates/{templateId}.json:
    $ref: './paths/templates.yaml#/template'
  /templates/{templateId}/project_constructions.json:
    $ref: './paths/templates.yaml#/project_constructions'

  # Todolist Groups
  /buckets/{bucketId}/todolists/{todolistId}/groups.json:
    $ref: './paths/todolist_groups.yaml#/todolist_groups'
  /buckets/{bucketId}/todolists/groups/{groupId}/position.json:
    $ref: './paths/todolist_groups.yaml#/todolist_group_position'

  # Todolists
  /buckets/{bucketId}/todosets/{todosetId}/todolists.json:
    $ref: './paths/todolists.yaml#/todolists'
  /buckets/{bucketId}/todolists/{todolistId}.json:
    $ref: './paths/todolists.yaml#/todolist'

  # Todos
  /buckets/{bucketId}/todolists/{todolistId}/todos.json:
    $ref: './paths/todos.yaml#/todos'
  /buckets/{bucketId}/todos/{todoId}.json:
    $ref: './paths/todos.yaml#/todo'
  /buckets/{bucketId}/todos/{todoId}/completion.json:
    $ref: './paths/todos.yaml#/todo_completion'
  /buckets/{bucketId}/todos/{todoId}/position.json:
    $ref: './paths/todos.yaml#/todo_position'

  # Todosets
  /buckets/{bucketId}/todosets/{todosetId}.json:
    $ref: './paths/todosets.yaml#/todoset'

  # Uploads
  /buckets/{bucketId}/vaults/{vaultId}/uploads.json:
    $ref: './paths/uploads.yaml#/uploads'
  /buckets/{bucketId}/uploads/{uploadId}.json:
    $ref: './paths/uploads.yaml#/upload'

  # Vaults
  /buckets/{bucketId}/vaults/{vaultId}/vaults.json:
    $ref: './paths/vaults.yaml#/vaults'
  /buckets/{bucketId}/vaults/{vaultId}.json:
    $ref: './paths/vaults.yaml#/vault'

  # Webhooks
  /buckets/{bucketId}/webhooks.json:
    $ref: './paths/webhooks.yaml#/webhooks'
  /buckets/{bucketId}/webhooks/{webhookId}.json:
    $ref: './paths/webhooks.yaml#/webhook'

security:
  - oauth2: []

# Component schemas - grouped by logical domain
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization
      flows:
        authorizationCode:
          authorizationUrl: https://launchpad.37signals.com/authorization/new
          tokenUrl: https://launchpad.37signals.com/authorization/token
          scopes: {}
  schemas:
    # Core models
    Person:
      $ref: './schemas/people.yaml#/Person'
    Company:
      $ref: './schemas/people.yaml#/Company'
    Project:
      $ref: './schemas/projects.yaml#/Project'
    Bucket:
      $ref: './schemas/projects.yaml#/Bucket'

    # Inboxes & Email Communication
    Inbox:
      $ref: './schemas/inboxes.yaml#/Inbox'
    Forward:
      $ref: './schemas/forwards.yaml#/Forward'
    InboxReply:
      $ref: './schemas/inbox_replies.yaml#/InboxReply'

    # Message Boards & Message Types
    MessageBoard:
      $ref: './schemas/message_boards.yaml#/MessageBoard'
    MessageType:
      $ref: './schemas/message_types.yaml#/MessageType'
    CreateMessageType:
      $ref: './schemas/message_types.yaml#/CreateMessageType'
    UpdateMessageType:
      $ref: './schemas/message_types.yaml#/UpdateMessageType'

    # To-do Sets
    Todoset:
      $ref: './schemas/todosets.yaml#/Todoset'

    # Campfires
    Campfire:
      $ref: './schemas/campfires.yaml#/Campfire'
    CampfireLine:
      $ref: './schemas/campfires.yaml#/CampfireLine'

    # To-do Lists
    Todolist:
      $ref: './schemas/todolists.yaml#/Todolist'
    CreateTodolist:
      $ref: './schemas/todolists.yaml#/CreateTodolist'
    UpdateTodolist:
      $ref: './schemas/todolists.yaml#/UpdateTodolist'

    # To-dos
    Todo:
      $ref: './schemas/todos.yaml#/Todo'
    CreateTodo:
      $ref: './schemas/todos.yaml#/CreateTodo'
    UpdateTodo:
      $ref: './schemas/todos.yaml#/UpdateTodo'
    TodoPosition:
      $ref: './schemas/todos.yaml#/TodoPosition'

    # Comments
    Comment:
      $ref: './schemas/comments.yaml#/Comment'
    CreateComment:
      $ref: './schemas/comments.yaml#/CreateComment'
    UpdateComment:
      $ref: './schemas/comments.yaml#/UpdateComment'

    # Messages
    Message:
      $ref: './schemas/messages.yaml#/Message'
    CreateMessage:
      $ref: './schemas/messages.yaml#/CreateMessage'
    UpdateMessage:
      $ref: './schemas/messages.yaml#/UpdateMessage'

    # Documents
    Document:
      $ref: './schemas/documents.yaml#/Document'
    CreateDocument:
      $ref: './schemas/documents.yaml#/CreateDocument'
    UpdateDocument:
      $ref: './schemas/documents.yaml#/UpdateDocument'

    # Uploads
    Upload:
      $ref: './schemas/uploads.yaml#/Upload'
    CreateUpload:
      $ref: './schemas/uploads.yaml#/CreateUpload'
    UpdateUpload:
      $ref: './schemas/uploads.yaml#/UpdateUpload'

    # Vaults
    Vault:
      $ref: './schemas/vaults.yaml#/Vault'
    CreateVault:
      $ref: './schemas/vaults.yaml#/CreateVault'
    UpdateVault:
      $ref: './schemas/vaults.yaml#/UpdateVault'

    # Schedules & Schedule Entries
    Schedule:
      $ref: './schemas/schedules.yaml#/Schedule'
    ScheduleEntry:
      $ref: './schemas/schedule_entries.yaml#/ScheduleEntry'
    CreateScheduleEntry:
      $ref: './schemas/schedule_entries.yaml#/CreateScheduleEntry'
    UpdateScheduleEntry:
      $ref: './schemas/schedule_entries.yaml#/UpdateScheduleEntry'
    RecurrenceSchedule:
      $ref: './schemas/schedule_entries.yaml#/RecurrenceSchedule'

    # Questionnaires & Questions
    Questionnaire:
      $ref: './schemas/questionnaires.yaml#/Questionnaire'
    Question:
      $ref: './schemas/questions.yaml#/Question'
    CreateQuestion:
      $ref: './schemas/questions.yaml#/CreateQuestion'
    UpdateQuestion:
      $ref: './schemas/questions.yaml#/UpdateQuestion'
    QuestionAnswer:
      $ref: './schemas/question_answers.yaml#/QuestionAnswer'

    # Client Approvals
    ClientApproval:
      $ref: './schemas/client_approvals.yaml#/ClientApproval'
    ClientApprovalResponse:
      $ref: './schemas/client_approvals.yaml#/ClientApprovalResponse'

    # Webhooks
    Webhook:
      $ref: './schemas/webhooks.yaml#/Webhook'
    WebhookWithDeliveries:
      $ref: './schemas/webhooks.yaml#/WebhookWithDeliveries'
    WebhookDelivery:
      $ref: './schemas/webhooks.yaml#/WebhookDelivery'
    WebhookEvent:
      $ref: './schemas/webhooks.yaml#/WebhookEvent'
    CreateWebhook:
      $ref: './schemas/webhooks.yaml#/CreateWebhook'
    UpdateWebhook:
      $ref: './schemas/webhooks.yaml#/UpdateWebhook'

    # Card Tables
    CardTable:
      $ref: './schemas/card_tables.yaml#/CardTable'
    Column:
      $ref: './schemas/card_table_columns.yaml#/Column'
    Card:
      $ref: './schemas/card_table_cards.yaml#/Card'
    Step:
      $ref: './schemas/card_table_steps.yaml#/Step'

    # Templates
    Template:
      $ref: './schemas/templates.yaml#/Template'
    ProjectConstruction:
      $ref: './schemas/templates.yaml#/ProjectConstruction'

    # Attachments
    # AttachmentResponse:
    #   $ref: './schemas/attachments.yaml#/AttachmentResponse'

    # Others
    Subscription:
      $ref: './schemas/subscriptions.yaml#/Subscription'
    LineupMarker:
      $ref: './schemas/lineup_markers.yaml#/LineupMarker'
    CreateLineupMarker:
      $ref: './schemas/lineup_markers.yaml#/CreateLineupMarker'
    UpdateLineupMarker:
      $ref: './schemas/lineup_markers.yaml#/UpdateLineupMarker'

    # Chatbots
    Chatbot:
      $ref: './schemas/chatbots.yaml#/Chatbot'
    CreateChatbot:
      $ref: './schemas/chatbots.yaml#/CreateChatbot'
    UpdateChatbot:
      $ref: './schemas/chatbots.yaml#/UpdateChatbot'
    CreateChatbotLine:
      $ref: './schemas/chatbots.yaml#/CreateChatbotLine'

    # Client Communications
    ClientCorrespondence:
      $ref: './schemas/client_correspondences.yaml#/ClientCorrespondence'
    ClientReply:
      $ref: './schemas/client_replies.yaml#/ClientReply'
    ClientVisibility:
      $ref: './schemas/client_visibility.yaml#/ClientVisibility'

    # Recordings and Events
    Recording:
      $ref: './schemas/recordings.yaml#/Recording'
    Event:
      $ref: './schemas/events.yaml#/Event'
